{% extends 'school/index.html' %}
{% load static %}

{% block content %}


<div class="container">
    <div class="page-inner">
      <div
        class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4"
      >
        <div>
          <!-- <h3 class="fw-bold mb-3">Student List</h3> -->
          <!-- <h6 class="op-7 mb-2"> Admin Dashboard</h6> -->
        </div>
        <div class="ms-md-auto py-2 py-md-0">
          <!-- <a href="#" class="btn btn-label-info btn-round me-2">Add Course</a> -->
          <!-- <a href="#" class="btn btn-primary btn-round">Add Class</a> -->
        </div>
      </div>
      
      
      
      <div class="row">
        
        <div class="col-md-12">
          <div class="card card-round">
            <div class="card-header">
              <div class="card-head-row card-tools-still-right">
                <div class="card-title">Student Lists</div>
                <div class="card-tools">
                  <div class="dropdown">
                    <button
                      class="btn btn-icon btn-clean me-0"
                      type="button"
                      id="dropdownMenuButton"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#addStudentModal">Add New Students</a>
                      
                    </div>
                  </div>
           <!-- modal         -->
<div class="modal fade" id="addStudentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Class</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" method="post">{% csrf_token %}
      <div class="modal-body">
        
        {{stuForm}}
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add New Class</button>
      </div>
    </form>
    </div>
  </div>
</div>
<!-- end modal  -->
                </div>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center mb-0">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Student Name</th>
                      <th scope="col" class="text-end">Class</th>
                      <th scope="col" class="text-end">Date</th>
                      <th scope="col" class="text-end">Action</th>
                      
                    </tr>
                  </thead>
                  <tbody>
{% for i in st %}
                    <tr>
                      <th scope="row">
                        
                        {{i.usr}} 
                      </th>
                      <td class="text-end">{{i.classname}}</td>
                      <td class="text-end">{{i.enroll_date}}</td>
                      <td class="text-end">
                        <a href="#" class="btn btn-sm btn-info">edit</a>
                    </td>
                      
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock content %}